@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


:root {
    --brand-color: #ff6ada;
    --dark: #121214;
    --gray-10: #7c7c8a;
    --gray-20: #f4f1ee;
    --gray-30: #f4f1ee;
    --gray-40: #f4f1ee;
    --white: #f4f1ee;
  
    --font-Roboto: 'Roboto', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
  }
  
  img {
    max-width: 100%;
  }
  
  html{
    scroll-behavior: smooth;
    font-family: var(--font-roboto);
  }
  
  body{
    background: var(--white);
  }